/* NavBar.css */

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 10px 20px;
  border-bottom: 1px solid #d1d1d1;
  font-family: Arial, sans-serif;
}

.navBar-logo {
  font-size: 16px;
  color: #718096;
  font-weight: bold;
}

.navBar-logo a {
  color: #718096;
  text-decoration: none;
}

.navBar-links {
  display: flex;
  list-style: none;
  gap: 30px; /* Espacio entre los elementos */
  margin: 0;
  padding: 0;
}

.navBar-links li {
  font-size: 14px;
  font-weight: bold;
}

.navBar-links a {
  text-decoration: none;
  color: #718096;
  transition: color 0.3s;
}

.navBar-links a:hover {
  color: #2d3748;
}

.navBar-toggle {
  display: none;
}

@media (max-width: 768px) {
  .navBar-links {
    display: none;
  }

  .navBar-toggle {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    color: #718096;
    cursor: pointer;
  }

  .navBar-links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #d1d1d1;
    gap: 10px;
  }
}
